.notfound {
    background-color: #FAF6F3;
    padding: 1rem;
    text-align: center;
    color: rgb(182, 182, 182);

    svg {
        margin-top: 1rem;
    }

    h6 {
        color: rgba(145, 145, 145, 0.877);
    }
}