.carousel_vim {
  
    display: flex;
    // height: 25rem;
   

     
  img {
    object-fit: cover;
    object-position: center center;  
       max-width: 600px;
    aspect-ratio: 3/3.5;
  }
  
  }
 